@font-face {
    font-family: 'universal_exploration';
    src: url('universalexploration_personal_use_only-webfont.woff2') format('woff2'),
         url('universalexploration_personal_use_only-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.boxxed {
    font-family: "Mewatonia", serif;
    text-align: left;
    color: #241b0b;
}

.boxxed-title {
  font-family: "universal_exploration", serif;
  text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: -45px;
}
