/* fonts */
@font-face {
    font-family: 'autography';
    src: url('autography-webfont.woff2') format('woff2'),
         url('autography-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'old_englished_boots';
    src: url('old_englished_boots-webfont.woff2') format('woff2'),
         url('old_englished_boots-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* accents */

/* main components */

.container {
    margin: auto;
    margin-top: 40px;
    width: 80%;
    background-color: #E7E4CF;
    border: 1px solid #c48d2e;
    box-shadow: 5px 10px 18px #000000;
}
/* main.html - header */
.titlecard {
    background:url(https://i.pinimg.com/736x/48/ed/3f/48ed3f51c7b6e3b4e9b4a6e8c089a826.jpg); /* BACKGROUND IMAGE TO BE CHANGED */
    margin: auto;
    margin-top: -75px;
    height: 250px;
    width: 98%;
}
.titlecard-title {
    text-align: center;
    font-family: "old_englished_boots", serif;
    font-size: 90px;
    color: white;
    padding-top: 65px;
    margin-bottom: -11px;
}
.titlecard-hookline {
    text-align: center;
    margin: auto;
    width: 32%;
    border-radius: 25px;
    background-color: #5e6545;
    color: white;
    padding: 10px;
    font-size: 13px;
    font-family: 'autography';
}
