@font-face {
    font-family: 'heavitas';
    src: url('heavitas-webfont.woff2') format('woff2'),
         url('heavitas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* main.html -- sidebar */
.divider-text {
   text-align: center;
    font-family: "nostalgic_whispers", serif;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

.button3 {
    font-family: "heavitas", serif;
    width: 90%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #363237;
    padding: 10px;
    margin-bottom: 15px;
}
.button3:hover {
    background-color: #5E6545;
}

.dropbtn1, .dropbtn2, .dropbtn3 {
    font-family: "heavitas", serif;
    width: 90%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #363237;
    padding: 10px;
    margin-bottom: 15px;
}

.dropbtn1:hover, .dropbtn2:hover, .dropbtn3:hover, .dropbtn:focus, .dropbtn2:focus, .dropbtn3:focus {
  background-color: #5E6545;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content, .dropdown-content2, .dropdown-content3 {
  display: none;
    position: absolute;
    background-color: #5E6545;
    margin-top: -0.8%;
    margin-left: 2.25%;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    font-family: "heavitas", serif;
    font-size: 13px;
    padding: 1px 15px 1px 15px;
}

.dropdown-content a {
  color: #b6c7c4;
    padding: 3px 1px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
