@font-face {
    font-family: 'mewatonia';
    src: url('mewatonia-webfont.woff2') format('woff2'),
         url('mewatonia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* main.html -- sidebar */
.divider-text {
   text-align: center;
    font-family: "nostalgic_whispers", serif;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

.dropbtn {
  text-align: center;
  border: 1px solid #c48d2e;
  background-color: #878B5A;
  color: white;
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
  font-family: "mewatonia", serif;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #5E6545;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
