<div class="sidebar">
    <p class="divider-text">Heiwa's World</p>
    <button class="button3">Archipelago</button>
    
    <button class="button3">Culture</button>

    <button onclick="myFunction()" class="dropbtn">Religion</button>
        <div id="myDropdown" class="dropdown-content">
            <a href="nimira.html">Nimira <strong>[Moon]</strong></a>
            <a href="pyrrhus.html">Pyrrhus <strong>[Sun]</strong></a>
            <a href="nivalis.html">Nivalis <strong>[Winter]</strong></a>
            <a href="aurelia.html">Aurelia <strong>[Autumn]</strong></a>
            <a href="torroavos.html">Torravos <strong>[Summer]</strong></a>
            <a href="isaiwen.html">Isaiwen <strong>[Spring]</strong></a>
        </div>

        <script>
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
            }
            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
              if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                  }
                }
              }
            }
        </script>
</div>
