<div class="sidebar">
    <p class="divider-text">Heiwa's World</p>
    <button class="button3">Archipelago</button>
    
    <button class="button3">Culture</button>

    <button onclick="myFunction(1)" class="dropbtn1">Holidays</button>
        <div id="myDropdown1" class="dropdown-content">
            <a href="nimira.html">Nimira <strong>[Moon]</strong></a>
            <a href="pyrrhus.html">Pyrrhus <strong>[Sun]</strong></a>
            <a href="nivalis.html">Nivalis <strong>[Winter]</strong></a>
            <a href="aurelia.html">Aurelia <strong>[Autumn]</strong></a>
            <a href="torroavos.html">Torravos <strong>[Summer]</strong></a>
            <a href="isaiwen.html">Isaiwen <strong>[Spring]</strong></a>
        </div>

    <button onclick="myFunction(2)" class="dropbtn2">Religion</button>
        <div id="myDropdown2" class="dropdown-content">
            <a href="nimira.html">Nimira</a>
            <a href="pyrrhus.html">Pyrrhus</a>
            <a href="nivalis.html">Nivalis</a>
        </div>   
</div>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction(num) {
  document.getElementById("myDropdown" + num).classList.add("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn' + num)) {
  var theDropdown = document.getElementById("myDropdown" + num);
    if (theDropdown.classList.contains('show')) {
      theDropdown.classList.remove('show');
    }
  }
}

</script>
