<div class="sidebar">
    <p class="divider-text">Heiwa's World</p>
    <button class="button3">Archipelago</button>
    <button class="button4">Notable Locations</button>
    <button class="button3">Culture</button>
    
    <button onclick="myFunction()" class="dropbtn">Religion</button>
  <div id="religions" class="dropdown-content">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#contact">Contact</a>
  </div>
    <script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("religions").classList.toggle("show");
}
// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
    
    <button class="button4">Holidays</button>
</div>
